{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">아이디</th>
        <th scope="col">제목</th>
        <th scope="col">컨텐트</th>
    </tr>
    </thead>
    <tbody>
    {{#article}}
    <tr>
        <th>{{id}}</th>
        <td>{{title}}</td>
        <td>{{content}}</td>
    </tr>
    {{/article}}
    </tbody>
</table>
<a href="/articles/{{article.id}}/edit" class="btn btn-primary">수정하는 곳</a>
<a href="/articles/{{article.id}}/delete" class="btn btn-danger">삭제하는 곳</a>
<a href="/articles">목록으로 돌아가기</a>
{{>layouts/footer}}