
<footer>
    <div id="footer_top_wrap">
        <div class="footer_top">
            <div class="footer_top_left">
                <ul>
                    <li class="personal"><a href="#" class="showBalloon" title="개인정보 처리방침">개인정보 처리방침</a></li>
                    <li><a href="#" class="showBalloon" title="저작권 정책">저작권 정책</a></li>
                    <li><a href="#" class="showBalloon" title="누리집 개선의견">누리집 개선의견</a></li>
                    <li><a href="#" class="showBalloon" title="오시는 길">오시는 길</a></li>
                    <li><a href="#" class="showBalloon" title="이용안내">이용안내</a></li>
                    <li><a href="#" class="showBalloon" title="소식지 신청">소식지 신청</a></li>
                    <li><a href="#" class="showBalloon" title="전화번호 안내">전화번호 안내</a></li>
                </ul>
                <ul>
                    <!-- 나중에 이미지 각각 사진 구해서 정렬하셈 -->
                    <li><a href="#"><img src="images/sns_ico.png" alt="sns_ico"/></a></li>
                </ul>
            </div>
            <div class="footer_top_right"></div>
        </div><!-- class="footer_top" -->
    </div><!-- class="footer_top_wrap" -->
    <div id="footer_bot_wrap">
        <div class="footer_bot">
            <div class="footer_bot_text">
                <p>30102 세종특별자치시 도움5로 20, 정부 세종청사 법제처(7-1동)</p>
                <p>Copyright&copy; 1997-2023 Korea Ministry of Goverment Legislation. All rights reserved.</p>
                <p> 대표전화 : 044-200 국가 법령정보센터 검색방법 : 044-200-6789,6790 정부 2차 법령해석 요청 절차 안내 : 044-200-6706,6708 민원 관련 문의 : 044-200-6532</p>
                <p>(월~금 09:00~18:00, 공휴일 제외)	&frasl; 팩스번호: 044-200-6954 &frasl; (근무시간 외) 당직실 : 044-200-6533</p>
            </div><!-- class="footer_bot_text" -->

            <div class="footer_bot_img">
                <img src="images/wa2023.png" alt="웹접근성"/>
                <img src="images/open.png" alt="오픈"/>
            </div>
        </div><!-- class="footer_bot" -->
    </div><!-- id="footer_bot_wrap" -->
    </div><!-- id="footer" -->
</footer>

</body>
</html>