<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>법제처01</title>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="js/jquery-1.9.1.min.js"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon.ico">
    <script src="/js/script01.js"></script>
</head>
<body>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="Generator" content="Notepad++" />
<meta name="Author" content="박병준"/>
<meta name="Keywords" content="박병준,ParkByeongJun,포트폴리오,qkrqudwns,portfolio,ByeongJun's portfolio,프로젝트,Project,박 병준,박 병 준,병준 박,병준,박,병,준,병준,Java web,Java Portfolio,Java PortFolio,qudwns,HTML5,CSS3,Kotlin web,Portfolio,Project,Student Portfolio,Student , 학생 포트폴리오,Java Kotlin,자바코틀린 포트폴리오,코틀린 포트폴리오, "/>
<meta name="Description" content="박병준의 포트폴리오 사이트입니다. 방문해 주셔서 감사합니다." />
<!-- 3초후 페이지가 변환 됩니다 Forwarding기능  -->
<!-- <meta http-equiv="refresh" content="3; URL=http://www.naver.com"> -->

<header>
    <div id="header">
        <div id="topEventwrap">
            <div class="topEvent cf">
                <ul>
                    <li class="logo"><img src="images/eg_logo.png" alt="logo"/></li>
                    <li>이 누리집은 대한민국 공식 전자정부 누리집 입니다.</li>
                    <div>
                        <li class="minus"><a href="#" title="minus" tabindex="1"><img src="images/minus.png" alt="minus" /></a></li>
                        <li><span>100%</span></li>
                        <li class="plus"><a href="#" title="plus" tabindex="2"><img src="images/plus.png" alt="plus"/></a></li>
                    </div>

                    <li></li>
                </ul>
            </div><!-- id="topEvent" -->
        </div><!-- id="event" -->

        <div id="gnbBox">
            <div class="gnbWrap cf">
                <div id="gnbLogo">
                    <ul>
                        <li><a href="#" class="showBalloon" title="법제처" tabindex="3"><img src="images/mainlogo.png" alt="mainlogo"/></a></li>
                        <li class="title"><a href="#" class="showBalloon" title="법제처" tabindex="4">법제처</a></li>
                    </ul>
                </div><!-- id="gnbLogo" -->
                <div id="gnbSearch">
                    <div class="search">
                        <ul>
                            <li><form action="#"><input type="search" class="guide_text" value="검색어를 입력해주세요"/></form></li>
                            <li class="searchBox"><a href="#"  class="showBalloon" title="돋보기" tabindex="5"><img src="images/search.png" alt="search"/></a></li>
                        </ul>
                    </div>
                </div><!-- id="gnbSearch" -->
                <div id="gnbLang cf">
                    <div class="lang">
                        <ul>
                            <li><a href="#" title="태극기" tabindex="6"><img src="images/img_head_link02.jpg" alt="img_head"/></a></li>
                            <li><a href="#"  class="showBalloon" title="어린이법제처" tabindex="7">어린이법제처</a></li>
                            <li><a href="#"  class="showBalloon" title="English" tabindex="8">ENGLISH</a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- id="gnbLang" -->
        </div><!-- id="gnbBox" -->
        <div id="menuWrap">
            <div class="oneInner">
                <ul class="oneDepth cf">
                    <li><a href="#" class="showBalloon" title="법제업무정보">법제업무정보</a>
                        <div class="twoInner">
                            <div class="twoDepth cf">
                                <ul class="cf">
                                    <div class="menu_title">
                                        <div class="title_img">
                                            <img src="images/mainlogo.png" alt=""/>
                                        </div>
                                        <div class="title_text">
                                            법제업무정보
                                        </div>

                                    </div>
                                </ul>
                                <div class="list01">
                                    <div class="sub_menu_list">
                                        <ul>
                                            <li class="first"><a href="#" class="showBalloon" title="정부입법">정부입법</a></li>
                                            <li><a href="#" class="showBalloon" title="정부입법계획">정부입법계획</a></li>
                                            <li><a href="#" class="showBalloon" title="입법과정안내">입법과정안내</a></li>
                                            <li><a href="#" class="showBalloon" title="법령입안심사기준">법령입안심사기준</a></li>
                                        </ul>
                                    </div>
                                    <div class="sub_menu_list">
                                        <ul>
                                            <li class="first"><a href="#" class="showBalloon" title="입법예고">입법예고</a></li>
                                            <li><a href="#" class="showBalloon" title="입법예고">입법예고</a></li>
                                            <li><a href="#" class="showBalloon" title="알기쉬운 입법예고">알기쉬운 입법예고</a></li>
                                        </ul>
                                    </div>
                                    <div class="sub_menu_list">
                                        <ul>
                                            <li class="first"><a href="#" class="showBalloon" title="행정규칙">행정규칙</a></li>
                                            <li><a href="#" class="showBalloon" title="발령,관리업무안내">발령,관리업무안내</a></li>
                                            <li><a href="#" class="showBalloon" title="행정규칙 입안, 심사기준">행정규칙 입안,심사기준</a></li>
                                            <li><a href="#" class="showBalloon" title="훈령,예규,고시">훈령,예규,고시</a></li>
                                        </ul>
                                    </div>
                                    <div class="sub_menu_list">
                                        <ul>
                                            <li class="first"><a href="#" class="showBalloon" title="법령해석">법령해석</a></li>
                                            <li><a href="#" class="showBalloon" title="법령해석안내">법령해석안내</a></li>
                                            <li><a href="#" class="showBalloon" title="법령해석 요청하기">법령해석 요청하기</a></li>
                                            <li><a href="#" class="showBalloon" title="법령해석 사례">법령해석 사례</a></li>
                                            <li><a href="#" class="showBalloon" title="법령해석 현황조회">법령해석 현황조회</a></li>
                                        </ul>
                                    </div>
                                    <div class="sub_menu_list">
                                        <ul>
                                            <li class="first"><a href="#" class="showBalloon" title="행정규칙">행정규칙</a></li>
                                            <li><a href="#" class="showBalloon" title="발령,관리업무안내">발령,관리업무안내</a></li>
                                            <li><a href="#" class="showBalloon" title="행정규칙 입안,심사기준">행정규칙 입안,심사기준</a></li>
                                            <li><a href="#" class="showBalloon" title="훈령,예규,고시">훈령,예규,고시</a></li>
                                        </ul>
                                    </div>
                                    <div class="sub_menu_list">
                                        <ul>
                                            <li class="first"><a href="#" class="showBalloon" title="자치입법 의견제시">자치입법 의견제시</a></li>
                                            <li><a href="#" class="showBalloon" title="자치입법 의견제시 안내">자치입법 의견제시 안내</a></li>
                                            <li><a href="#" class="showBalloon" title="의견제시 사례">의견제시 사례</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- class="twoDepth cf -->
                        </div><!-- class="twoInner" -->
                    </li>
                    <li><a href="#" class="showBalloon" title="정보공개">정보공개</a>
                        <div class="twoInner">
                            <div class="twoDepth cf">
                                <ul class="cf">
                                    <div class="menu_title">
                                        <div class="title_img">
                                            <img src="images/mainlogo.png" alt=""/>
                                        </div>
                                        <div class="title_text">
                                            정보공개
                                        </div>

                                    </div>
                                </ul>
                                <div class="list01">
                                    <div class="sub_menu_list">
                                        <ul>
                                            <li class="first"><a href="#" class="showBalloon" title="공표 정보">공표 정보</a></li>
                                            <li><a href="#" class="showBalloon" title="즐겨찾는 정보">즐겨찾는 정보</a></li>
                                            <li><a href="#" class="showBalloon" title="사전공표정보">사전공표정보</a></li>
                                            <li><a href="#" class="showBalloon" title="공개정보 보기" >공개정보 보기</a></li>
                                        </ul>
                                    </div>
                                    <div class="sub_menu_list">
                                        <ul>
                                            <li class="first"><a href="#" class="showBalloon" title="정책실명제">정책실명제</a></li>

                                        </ul>
                                    </div>
                                    <div class="sub_menu_list">
                                        <ul>
                                            <li class="first"><a href="#" class="showBalloon" title="공공데이터">공공데이터</a></li>
                                            <li><a href="#" class="showBalloon" title="공공데이터 제공">공공데이터 제공</a></li>
                                            <li><a href="#" class="showBalloon" title="데이터 품질신고">데이터 품질신고</a></li>

                                        </ul>
                                    </div>
                                    <div class="sub_menu_list">
                                        <ul>
                                            <li class="first"><a href="#" class="showBalloon" title="법제소식지">법제소식지</a></li>

                                        </ul>
                                    </div>
                                    <div class="sub_menu_list">
                                        <ul>
                                            <li class="first"><a href="#" class="showBalloon" title="이용안내">이용안내</a></li>
                                            <li><a href="#" class="showBalloon" title="누리집 이용안내">누리집 이용안내</a></li>
                                            <li><a href="#" class="showBalloon" title="저작권 정책">저작권 정책</a></li>
                                            <li><a href="#" class="showBalloon" title="누리집 개선의견">누리집 개선의견</a></li>
                                        </ul>
                                    </div>
                                    <div class="sub_menu_list">
                                        <ul>
                                            <li class="first"><a href="#" class="showBalloon" title="행정규칙">행정규칙</a></li>
                                            <li><a href="#" class="showBalloon" title="발령,관리업무안내">발령,관리업무안내</a></li>
                                            <li><a href="#" class="showBalloon" title="행정규칙 입안, 심사기준">행정규칙 입안,심사기준</a></li>
                                            <li><a href="#" class="showBalloon" title="훈령,예규,고시">훈령,예규,고시</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div><!-- class="twoInner" -->
                    </li>
                    <li><a href="#"  class="showBalloon" title="지식창고">지식창고</a>
                        <div class="twoInner">
                            <div class="twoDepth cf">
                                <ul class="cf">
                                    <div class="menu_title">
                                        <div class="title_img">
                                            <img src="images/mainlogo.png" alt=""/>
                                        </div>
                                        <div class="title_text">
                                            지식창고
                                        </div>

                                    </div>
                                </ul>
                                <div class="list01">
                                    <div class="sub_menu_list">
                                        <ul>
                                            <li class="first"><a href="#" class="showBalloon" title="법제">법제</a></li>
                                            <li><a href="#" class="showBalloon" title="법제소개">법제소개</a></li>
                                            <li><a href="#" class="showBalloon" title="법제논문 검색,내려받기">법제논문 검색,내려받기</a></li>

                                        </ul>
                                    </div>
                                    <div class="sub_menu_list">
                                        <ul>
                                            <li class="first"><a href="#" class="showBalloon" title="법제소식">법제소식</a></li>


                                        </ul>
                                    </div>
                                    <div class="sub_menu_list">
                                        <ul>
                                            <li class="first"><a href="#" class="showBalloon" title="법나들이">법나들이</a></li>

                                        </ul>
                                    </div>
                                    <div class="sub_menu_list">
                                        <ul>
                                            <li class="first"><a href="#" class="showBalloon" title="간행물">간행물</a></li>

                                        </ul>
                                    </div>
                                    <div class="sub_menu_list">
                                        <ul>
                                            <li class="first"><a href="#" class="showBalloon" title="정책연구 용역자료">정책연구 용역자료</a></li>

                                        </ul>
                                    </div>
                                    <div class="sub_menu_list">
                                        <ul>
                                            <li class="first"><a href="#" class="showBalloon" title="디지털 법제정보자료">디지털 법제정보자료</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div><!-- class="twoInner" -->
                    </li>
                    <li><a href="#"  class="showBalloon" title="뉴스&middot;소식">뉴스&middot;소식</a>
                        <div class="twoInner">
                            <div class="twoDepth cf">
                                <ul class="cf">
                                    <div class="menu_title">
                                        <div class="title_img">
                                            <img src="images/mainlogo.png" alt=""/>
                                        </div>
                                        <div class="title_text">
                                            뉴스&middot소식
                                        </div>

                                    </div>
                                </ul>
                                <div class="list01">
                                    <div class="sub_menu_list">
                                        <ul>
                                            <li class="first"><a href="#" class="showBalloon" title="보도자료">보도자료</a></li>

                                        </ul>
                                    </div>
                                    <div class="sub_menu_list">
                                        <ul>
                                            <li class="first"><a href="#" class="showBalloon" title="보도설명자료">보도설명자료</a></li>

                                        </ul>
                                    </div>
                                    <div class="sub_menu_list">
                                        <ul>
                                            <li class="first"><a href="#" class="showBalloon" title="사진뉴스">사진뉴스</a></li>

                                        </ul>
                                    </div>
                                    <div class="sub_menu_list">
                                        <ul>
                                            <li class="first"><a href="#" class="showBalloon" title="공지사항">공지사항</a></li>

                                        </ul>
                                    </div>
                                    <div class="sub_menu_list">
                                        <ul>
                                            <li class="first"><a href="#" class="showBalloon" title="법제처 법령정보">법제처 법령정보</a></li>
                                            <li><a href="#" class="showBalloon" title="소관법령">소관법령</a></li>
                                            <li><a href="#" class="showBalloon" title="입법예고">입법예고</a></li>
                                            <li><a href="#" class="showBalloon" title="행정예고">행정예고</a></li>
                                        </ul>
                                    </div>
                                    <div class="sub_menu_list">
                                        <ul>
                                            <li class="first"><a href="#" class="showBalloon" title="행정규칙">행정규칙</a></li>
                                            <li><a href="#" class="showBalloon" title="발령,관리업무안내">발령,관리업무안내</a></li>
                                            <li><a href="#" class="showBalloon" title="행정규칙 입안, 심사기준">행정규칙 입안,심사기준</a></li>
                                            <li><a href="#" class="showBalloon" title="훈령,예규,고시">훈령,예규,고시</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div><!-- class="twoInner" -->
                    </li>
                    <li><a href="#"  class="showBalloon" title="민원&middot;제안">민원&middot;제안</a>
                        <div class="twoInner">
                            <div class="twoDepth cf">
                                <ul class="cf">
                                    <div class="menu_title5">
                                        <div class="title_img5">
                                            <img src="images/mainlogo.png" alt=""/>
                                        </div>
                                        <div class="title_text5">
                                            민원&middot;제안
                                        </div>

                                    </div>
                                </ul>
                                <div class="list01">
                                    <div class="sub_menu_list">
                                        <ul>
                                            <li class="first"><a href="#" class="showBalloon" title="전자민원">전자민원</a></li>
                                            <li><a href="#" class="showBalloon" title="민원신청">민원신청</a></li>
                                            <li><a href="#" class="showBalloon" title="민원편람">민원편람</a></li>

                                        </ul>
                                    </div>
                                    <div class="sub_menu_list">
                                        <ul>
                                            <li class="first"><a href="#" class="showBalloon" title="국민참여">국민참여</a></li>
                                            <li><a href="#" class="showBalloon" title="국민제안">국민제안</a></li>
                                            <li><a href="#" class="showBalloon" title="국민생각함">국민생각함</a></li>
                                            <li><a href="#" class="showBalloon" title="정책참여">정책참여</a></li>
                                        </ul>
                                    </div>
                                    <div class="sub_menu_list">
                                        <ul>
                                            <li class="first"><a href="#" class="showBalloon" title="규제개선">규제개선</a></li>

                                        </ul>
                                    </div>
                                    <div class="sub_menu_list">
                                        <ul>
                                            <li class="first"><a href="#" class="showBalloon" title="신고센터">신고센터</a></li>
                                            <li><a href="#" class="showBalloon" title="예산낭비신고">예산낭비신고</a></li>
                                            <li><a href="#" class="showBalloon" title="공익신고">공익신고</a></li>
                                            <li><a href="#" class="showBalloon" title="부패갑질신고">부패갑질신고</a></li>
                                            <li><a href="#" class="showBalloon" title="복지보조금부정신고">복지보조금부정신고</a></li>
                                        </ul>
                                    </div>
                                    <div class="sub_menu_list">
                                        <ul>
                                            <li class="first"><a href="#" class="showBalloon" title="적극행정">적극행정</a></li>
                                            <li><a href="#" class="showBalloon" title="적극행정 안내">적극행정 안내</a></li>
                                            <li><a href="#" class="showBalloon" title="공무원,정책,국민추천">공무원,정책 국민추천</a></li>
                                            <li><a href="#" class="showBalloon" title="적극행정">적극행정 법제지원</a></li>
                                            <li><a href="#" class="showBalloon" title="소극행정 신고">소극행정 신고</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div><!-- class="twoInner" -->
                    </li>
                    <li><a href="#" class="showBalloon" title="법제처 소개">법제처 소개</a>
                        <div class="twoInner">
                            <div class="twoDepth cf">
                                <ul class="cf">
                                    <div class="menu_title">
                                        <div class="title_img">
                                            <img src="images/mainlogo.png" alt=""/>
                                        </div>
                                        <div class="title_text">
                                            법제처 소개
                                        </div>

                                    </div>
                                </ul>
                                <div class="list01">
                                    <div class="sub_menu_list">
                                        <ul>
                                            <li class="first"><a href="#" class="showBalloon" title="소개">소개</a></li>
                                            <li><a href="#" class="showBalloon" title="비전">비전</a></li>
                                            <li><a href="#" class="showBalloon" title="홍보자료실">홍보 자료실</a></li>
                                            <li><a href="#" class="showBalloon" title="연혁">연혁</a></li>
                                            <li><a href="#" class="showBalloon" title="상징">상징</a></li>
                                        </ul>
                                    </div>
                                    <div class="sub_menu_list">
                                        <ul>
                                            <li class="first"><a href="#" class="showBalloon" title="주요 기능과 사업">주요 기능과 사업</a></li>

                                        </ul>
                                    </div>
                                    <div class="sub_menu_list">
                                        <ul>
                                            <li class="first"><a href="#" class="showBalloon" title="업무보고">업무보고</a></li>

                                        </ul>
                                    </div>
                                    <div class="sub_menu_list">
                                        <ul>
                                            <li class="first"><a href="#" class="showBalloon" title="처장 소개">처장 소개</a></li>
                                            <li><a href="#" class="showBalloon" title="인사말">인사말</a></li>
                                            <li><a href="#" class="showBalloon" title="약력">약력</a></li>
                                            <li><a href="#" class="showBalloon" title="역대처장소개">역대처장소개</a></li>
                                            <li><a href="#" class="showBalloon" title="업무추진비 공개">업무추진비 공개</a></li>
                                        </ul>
                                    </div>
                                    <div class="sub_menu_list">
                                        <ul>
                                            <li class="first"><a href="#" class="showBalloon" title="조직안내">조직안내</a></li>
                                            <li><a href="#" class="showBalloon" title="조직도">조직도</a></li>
                                            <li><a href="#" class="showBalloon" title="담당부서">담당부서</a></li>
                                            <li><a href="#" class="showBalloon" title="담당자 연락처">담당자 연락처</a></li>
                                        </ul>
                                    </div>
                                    <div class="sub_menu_list">
                                        <ul>
                                            <li class="first"><a href="#" class="showBalloon" title="오시는 길">오시는 길</a></li>
                                            <li><a href="#" class="showBalloon" title="법제처">법제처</a></li>
                                            <li><a href="#" class="showBalloon" title="층별안내도">층별안내도</a></li>
                                            <li><a href="#" class="showBalloon" title="서울 법제지원센터">서울 법제지원센터</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div><!-- class="twoInner" -->
                    </li>

                </ul>
            </div><!-- class="oneInner" -->
        </div><!-- id="menuWrap" -->
    </div><!-- id="header" -->
</header>
